.class-input {
  margin: 10px;
}

.class-button {
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
}

.class-div {
  margin: 10px;
  width: 300px;
  border: 1px solid red;
  background-color: rgb(240, 99, 99);
  font-size: 1.5rem;
}
