* {
  margin: 0;
}

#root {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 130px;
  border: 1px solid black;
  margin: 10px 10px;
  padding-top: 15px;
  background-color: azure;
}

.card > p {
  padding-left: 15px;
}

#btn {
  margin: 10px 10px;
}
