.div-user > input {
  margin: 0.3rem;
}

.div-li {
  margin: 0.3rem;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.div-mouse {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 0.3rem;
  padding: 0.3rem;
}

.div-btn,
.div-login {
  margin: 1rem 0.3rem;
}

.div-btn > input {
  margin: 0.3rem;
  width: 50px;
}

.anime {
  margin: 1rem 0.3rem;
  height: 50px;
  padding: 0.8rem;
  position: relative;
}

.div-color {
  margin: 0.3rem;
  padding: 0.8rem;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input-color,
.btn-color {
  margin: 0.3rem;
  width: 120px;
  height: 30px;
}

.btn-color {
  border-radius: 10px;
  font-size: 15px;
}

.div-move {
  width: 40px;
  height: 40px;
  background-color: aqua;
  border: 1px solid black;
  position: absolute;
  top: 5px;
  left: 5px;
}

.info-user {
  margin: 0.3rem;
  width: 170px;
  height: 70px;
}

.div-info {
  margin: 0.3rem;
  width: 170px;
  height: 100px;
  overflow: hidden;
}

/*
.div-move-down {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border: 1px solid black;
  position: absolute;
  top: 2rem;
  left: 800px;
} */
