div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input,
p {
  margin: 0.3rem;
}
img {
  width: 20px;
  margin: 0.3rem;
}
.green {
  border: 3px solid green;
}
.red {
  border: 3px solid red;
}

.focus {
  background-color: green;
}
