.wrapper.cart {
  background: url("../img/bg\ 5.png");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-top.group_cakes {
  position: absolute;
  z-index: 20;
  top: -10em;
  left: 3em;
}

.img-top.group_cakes img {
  width: 90%;
}

.cart-total {
  width: 90%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  box-sizing: border-box;
  margin: 0 auto;
  color: #642c99;
  gap: 2em;
}

.cart-box {
  width: 100%;
  min-height: 10rem;
  border-bottom: 2px solid #642c99;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.cart-item {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 1em;
  font-family: "Wendy one", sans-serif;
}

.cart-img {
  width: 15%;
  height: 10rem;
  box-sizing: border-box;
}

.cart-img img {
  width: 70%;
}

.cart-name {
  width: 60%;
  font-size: 1.5em;
  font-weight: bold;
}

.cart-price {
  width: 10%;
  font-size: 1.8em;
}

.cart-count_total {
  width: 10%;
  height: 2rem;
  border: 1px solid #642c99;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}

.cart-bottom {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-price_total {
  font-size: 1.8em;
  font-family: "Wendy one", sans-serif;
}

.cart-bottom_title {
  font-size: 1.2em;
  font-weight: bolder;
}

.btn.btn-cart {
  width: 30%;
  height: 2.5rem;
}

.cart-box > .col {
  margin: 0.5em 0;
}

.cart-empty {
  width: 50%;
  min-height: 50rem;
  margin: 0 auto;
  color: #642c99;
  display: none;
  font-size: 3em;
  flex-direction: column;
  text-align: center;
}

.img-top.group_cakes_mini {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .img-top_container {
    position: relative;
    width: 80%;
    height: 30rem;
  }

  .container.cart {
    margin: 0;
  }

  .card-title {
    font-size: 3em;
  }

  .img-top.group_cakes {
    width: 100%;
    top: -5em;
    left: 0em;
  }

  .container {
    min-height: 50rem;
    display: flex;
  }

  .cart-box > .col {
    margin: 0.5em 0;
    width: 100%;
  }

  .cart-img {
    width: 30%;
  }

  .cart-count_total {
    width: 20%;
  }

  .cart-name {
    width: 45%;
    font-size: 1.3em;
  }

  .cart-price {
    font-size: 1.5em;
  }

  .cart-bottom {
    width: 50%;
  }

  .btn.btn-cart {
    width: 50%;
  }

  .cart-empty {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .img-top.group_cakes {
    display: none;
  }

  .img-top.group_cakes_mini {
    display: block;
    width: 60%;
    position: absolute;
    right: -1em;
  }

  .img-top.group_cakes_mini img {
    width: 100%;
  }

  .cart-box {
    flex-wrap: wrap;
  }

  .cart-img img {
    width: 100%;
  }

  .cart-total {
    min-height: 100vh;
    align-items: center;
    gap: 1em;
    padding: 5em 0;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    align-items: start;
    justify-content: space-evenly;
    justify-items: center;
  }

  .cart-img {
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
  }

  .cart-name {
    grid-column: 2/4;
    grid-row: 1;
    width: 80%;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #642c99;
    padding-bottom: 0.5em;
  }

  .cart-count_total {
    grid-column: 2;
    grid-row: 2;
    width: 70%;
  }

  .cart-price {
    grid-column: 3;
    grid-row: 2;
    width: 20%;
    font-size: 1.5em;
  }

  .cart-box > .col {
    margin: 1.5em 0;
    padding: 1.5em 0;
  }

  .cart-bottom {
    width: 100%;
  }

  .btn.btn-cart {
    width: 100%;
    height: 3rem;
    padding: 0.5em;
  }

  .cart-empty {
    width: 80%;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
}
