body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Wendy One", sans-serif;
  background-color: #f5f5f5;
}

.wrapper {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: url(../img/bg\ 1.png);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar-toggler-icon {
  background-image: url("../img/Group\ 66.png");
}

.navbar {
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0) !important;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  position: relative;
}

.container-fixed {
  display: flex;
  width: 1200px;
  height: 3rem;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #f7cfda;
}

.nav-link {
  color: #642c99 !important;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-cart {
  width: 3rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.main {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.container {
  min-height: 50rem;
  display: flex;
  margin: 5rem auto;
}

.container.bottom {
  align-items: center;
}

.card {
  width: 50%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  color: #642c99;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title {
  font-family: "Wendy One", sans-serif;
  font-size: 6em;
  line-height: 1em;
  color: #642c99;
}

.btn {
  width: 12em;
  background-color: #642c99;
  color: #fdefd1;
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #6e33a5;
  color: white;
}

.img-top_container {
  position: relative;
  width: 50%;
  height: 30rem;
}

.img-top {
  position: absolute;
}

.img-top img {
  width: 80%;
}

.img-top.left {
  width: 16rem;
  top: 0px;
  left: 22em;
}

.img-top.right {
  width: 20rem;
  top: 5em;
  left: 0;
}
.img-top.bottom {
  width: 40rem;
  top: 18em;
  left: 4em;
}

.img-top.bottom.two {
  width: 40rem;
  top: 22em;
  left: 0;
  z-index: 1;
  animation: cakeBottom 3s ease-out 3s infinite alternate;
}

@keyframes cakeBottom {
  0% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-90px);
  }
}

.card-title.two {
  font-size: 5em;
}

.img-top.left.two {
  width: 40rem;
  top: -2em;
  left: 0;
  z-index: 2;
  animation: cakeUp 3s ease-out 3s infinite alternate;
}

@keyframes cakeUp {
  0% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(90px);
  }
}

.card-title.box.two {
  width: 60%;
}

.container.products {
  flex-direction: column;
  justify-content: space-around;
}

.product-box {
  width: 100%;
  min-height: 50vh;
  display: flex;
  margin-top: 7rem;
}

.card.product {
  width: 100%;
  height: 35rem;
  padding: 1em;
}

.card-body.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-img-top {
  width: 70%;
  margin: auto;
}

.card-title.item {
  font-size: 2em;
}

.card-text.item {
  font-size: 0.8em;
  text-align: center;
}

.card-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn.item {
  width: 60%;
  font-size: 1em;
}

.card-count {
  width: 35%;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #642c99;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

.span-count {
  cursor: pointer;
  font-size: 1.5em;
}

.col {
  margin: 4rem 0;
}

.card.bottom {
  margin-top: 5rem;
}

.img-bottom {
  position: absolute;
  top: 12em;
  left: -2em;
  width: 38rem;
}

.img-bottom img {
  width: 100%;
}

.container.footer {
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  color: #fdefd1;
  gap: 2rem;
  padding-top: 10rem;
}

.footer-box {
  display: grid;
  width: 90%;
  grid-template-columns: 2fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  height: 10rem;
  gap: 3rem;
  margin: 0 auto;
  align-content: stretch;
}

.footer_miss {
  grid-column: 2;
  grid-row: 2;
  padding-top: 4em;
}

.footer-text {
  width: 10rem;
  font-family: "Wendy One", sans-serif;
  font-size: 2em;
}

.footer-nav {
  list-style: none;
  line-height: 3em;
}

.footer-nav a,
.footer-bottom a {
  text-decoration: none;
  color: #fdefd1;
  cursor: pointer;
}

.footer-nav a:hover,
.footer-bottom a:hover {
  color: #e4c69d;
}

.footer-form {
  width: 30rem;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  grid-column: 3/5;
}

.footer-form_box {
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 20rem;
  justify-content: space-between;
}

.btn.footer {
  background-color: #fdefd1;
  color: #642c99;
  width: 7em;
}

.user {
  height: 2.5em;
  border-radius: 8px;
  border: 1px solid #fdefd1;
  background-color: #642c99;
  padding: 0.5em;
}

.user::placeholder {
  color: #fdefd1;
}

.footer-bottom_box {
  width: 80%;
  line-height: 3rem;
  grid-column: 3/5;
}

.footer-nav_box {
  grid-column: 2;
  grid-row: 1;
  width: 12rem;
}

.footer-bottom {
  padding-top: 3rem;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cart-count {
  display: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fdefd1;
  color: #642c99;
  text-align: center;
  top: 0;
  left: 1rem;
}

.user.error {
  border: 4px solid red;
}

.modal-info,
.modal-error {
  width: 1200px;
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: space-around;
}

.modal-info {
  background-color: #642c99;
  color: #fdefd1;
}

.modal-text {
  width: 90%;
  text-align: center;
}

.modal-close,
.modal_cart-close {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fcefd229;
  text-align: center;
  cursor: pointer;
}

.modal-error {
  background-color: #f15454;
  color: #642c99;
}

.modal-wrapper {
  position: fixed;
  z-index: 30;
  top: 0;
  width: 1200px;
  min-height: 20rem;
  margin-top: 3em;
  display: none;
  justify-content: flex-end;
}

.modal_cart-total {
  width: 30em;
  min-height: 20rem;
  background-color: #fcefd2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  color: #642c99;
  gap: 2em;
}

.modal_cart-header {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal_cart-title {
  font-family: "Wendy One", sans-serif;
  font-size: 2em;
}

.modal_cart-box {
  width: 100%;
  min-height: 5rem;
  max-height: 30rem;
  overflow: auto;
  border-top: 2px solid #642c99;
  border-bottom: 2px solid #642c99;
}

.modal_cart-price_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.modal-price-title,
.table-name {
  font-size: 1.1em;
}

.modal-price,
.table-price {
  font-size: 1.3em;
}

.modal-btn,
.modal-btn > .btn {
  width: 100%;
}

.btn.btn-light {
  background-color: #fcefd2;
  color: #642c99;
}

.table-img,
.table-price {
  width: 20%;
}

.table-img img {
  width: 60%;
}

.table-name {
  width: 60%;
}

.table > tbody,
td,
tr {
  border: none;
  color: #642c99;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .wrapper {
    width: 768px;
  }

  .container-fixed {
    width: 768px;
  }

  .card {
    width: 70%;
  }

  .img-top img {
    width: 70%;
  }

  .img-top.left.one {
    display: none;
  }

  .img-top.right {
    top: 0;
    left: 0;
  }

  .img-top.bottom {
    top: 24em;
    left: -4em;
  }

  .card-title {
    font-size: 5em;
  }

  .card-title.two {
    font-size: 4em;
  }

  .img-top.left.two {
    width: 100%;
    top: 2em;
    left: 0;
  }

  .img-top.bottom.two {
    width: 100%;
    top: 20em;
    left: 0;
  }

  .img-top.left.two img,
  .img-top.bottom.two img {
    width: 100%;
  }

  .img-bottom {
    top: 20em;
    left: -6em;
    width: 25rem;
  }

  .modal-info,
  .modal-error,
  .modal-wrapper {
    width: 768px;
  }

  .modal_cart-total {
    width: 23em;
  }

  .card-title.box.two {
    width: 70%;
  }

  .col {
    width: 50%;
  }

  .footer-box {
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 20rem;
    gap: 2rem;
  }

  .footer-nav_box {
    width: 12rem;
    grid-column: 1;
    grid-row: 2;
  }

  .footer-form {
    width: 100%;
    grid-column: 2;
  }

  .footer_miss {
    grid-column: 1;
    grid-row: 3;
  }

  .footer-bottom_box {
    grid-column: 2;
    grid-row: 2;
  }

  .btn.footer {
    width: 5em;
  }

  .footer-bottom {
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
  }

  .footer-nav {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 375px;
  }

  .main {
    width: 100%;
  }

  .container-fixed {
    width: 375px;
  }

  .modal-info,
  .modal-error,
  .modal-wrapper {
    width: 375px;
  }

  .modal-wrapper {
    padding: 0 1em 1em 0 !important;
  }

  .modal_cart-total {
    width: 16em;
    padding: 1em;
    gap: 0.5em;
  }

  .modal_cart-title {
    font-size: 1.3em;
  }

  .table-img,
  .table-price {
    width: 30%;
  }

  .table-img img {
    width: 80%;
  }

  .modal-price-title,
  .table-name {
    font-size: 0.8em;
  }

  .modal-price,
  .table-price {
    font-size: 0.8em;
  }

  .modal-btn > a {
    font-size: 0.8em;
  }

  .table-name {
    width: 60%;
  }

  .table > tbody,
  td,
  tr {
    padding: 0;
  }

  .container {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .card {
    width: 100%;
  }

  .card-title {
    font-size: 4em;
  }

  .img-top img {
    width: 60%;
  }

  .img-top_container {
    width: 100%;
  }

  .img-top.right {
    width: 20rem;
  }

  .img-top.left.one {
    width: 16rem;
    left: 12em;
  }

  .img-top.bottom {
    width: 30rem;
  }

  .container.two {
    flex-direction: column-reverse;
  }

  .card-title.two {
    font-size: 3em;
  }

  .img-bottom {
    width: 20rem;
    top: 0;
    left: 0;
  }

  .img-top.left.two {
    top: 0;
    left: 0;
  }

  .img-top.bottom.two {
    top: 21em;
    left: 0;
  }

  .footer-box {
    display: flex;
    height: 30rem;
    gap: 0;
    margin: 0 auto;
    align-content: stretch;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .footer-form {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 2em 0;
  }

  .footer-nav,
  .footer-bottom {
    padding: 0;
    margin: 0;
  }

  .btn.footer {
    width: 20em;
  }

  .footer-bottom {
    flex-direction: column;
  }
}
