.footer {
  width: 100%;
  height: 60vh;
}

.footer-bordo {
  width: 100%;
  height: 90%;
  background-color: #a04955;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-end {
  width: 100%;
  height: 10%;
  font-size: 18px;
  padding: 10px 60px;
  font-family: "Open Sans", sans-serif;
}

.footer-bordo > div {
  height: 90%;
  margin: 26px auto;
  color: white;
  padding-left: 60px;
}

.footer-left,
.footer-midle {
  width: 16%;
}

.footer-right {
  width: 45%;
}

.footer-title {
  font-size: 24px;
}

.footer-one-item :hover {
  text-decoration: underline;
}

.footer-one-item a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.footer-one-item {
  margin: 6px 0;
}

.footer-input {
  width: 80%;
  height: 61px;
  border: #a04955;
  font-size: 1.4rem;
  padding-left: 5%;
}

.footer-input:placeholder-shown {
  font-size: 1.2rem;
  padding-left: 5%;
}

.footer-input::placeholder {
  color: #a04955;
}

.footer-div-input {
  position: relative;
}
.footer-div-input > button {
  width: 29%;
  height: 72%;
  background-color: #a04955;
  color: white;
  font-size: 1rem;
  border: 1px solid #a04955;
  position: absolute;
  top: 15%;
  left: 55%;
  cursor: pointer;
}

.adress-success {
  position: absolute;
  width: 28rem;
  height: 3rem;
  border: 1px solid green;
  top: 5rem;
  background-color: rgb(188, 240, 188);
  text-align: center;
  color: green;
  padding: 0.8rem;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  display: none;
}

.adress-error {
  position: absolute;
  width: 28rem;
  height: 3rem;
  border: 1px solid red;
  top: 5rem;
  background-color: rgb(235 217 216);
  text-align: center;
  color: red;
  padding: 0.8rem;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer {
    height: 70vh;
  }

  .footer-bordo {
    height: 100%;
    flex-wrap: wrap;
  }

  .footer-bordo > div:not(.footer-right) {
    width: 26%;
    height: 40%;
    margin: 26px auto;
    color: white;
    padding-left: 30px;
  }

  .footer-right {
    width: 70%;
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .footer {
    height: 120vh;
  }

  .footer-bordo {
    height: 100%;
    flex-direction: column;
  }

  .footer-bordo > div {
    width: 90%;
    height: 40%;
    margin: 0.3rem auto;
    color: white;
    padding-left: 30px;
  }
}
