.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
}

.container,
.section-two {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.section-two {
  background-color: #f1f1f1;
  margin: 0 auto;
}

.container > div {
  position: relative;
  width: 45%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-page-one {
  font-weight: bold;
  font-size: 3rem;
  font-style: normal;
  margin-top: 4rem;
  color: #001f3d;
  width: 70%;
  padding-top: 2rem;
  box-sizing: border-box;
}

.title-two {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.title-input {
  width: 45%;
  height: 6%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgb(119, 116, 116);
}

.title-input:hover {
  transform: scale(1.1);
}

.square-one {
  position: absolute;
  width: 70%;
  height: 60%;
  border: 1px solid #a04955;
  top: 32%;
  left: 0%;
  z-index: 1;
  box-sizing: border-box;
}

.square-two {
  position: absolute;
  width: 70%;
  height: 65%;
  background-color: #a04955;
  top: 15%;
  left: 20%;
  z-index: 2;
  box-sizing: border-box;
}

.square-three {
  position: absolute;
  width: 80%;
  height: 70%;
  background: url(../Img/main/title_man.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
  left: 12%;
  z-index: 3;
  box-sizing: border-box;
}

.two {
  position: absolute;
  width: 70%;
  height: 65%;
  border: 1px solid #a04955;
  top: 21%;
  left: 20%;
  z-index: 2;
  box-sizing: border-box;
}

.three {
  position: absolute;
  width: 80%;
  height: 70%;
  background: url(../Img/main/Pants\ base.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
  left: 4%;
  z-index: 3;
  box-sizing: border-box;
}

.three > img {
  width: 100%;
}

.section-one,
.section-three {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.section-one {
  background-color: #f1f1f1;
  justify-content: space-evenly;
}

.section-three {
  justify-content: space-between;
}

.section-one > div:nth-child(1) {
  font-size: 2.5rem;
}

.section-one > div:nth-child(2) {
  font-size: 4rem;
  font-weight: bold;
}

.card-total {
  display: flex;
  flex-direction: row;
}

.card {
  width: 23%;
  height: 28rem;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: #333333;
  box-shadow: 7px 4px 8px 0px gray;
  box-sizing: border-box;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.product-top-total {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-img {
  width: 70%;
  text-align: center;
  padding: 0 8%;
}

.product-card-img > img {
  width: 100%;
}

.card-title {
  font-weight: bold;
  font-size: 1.4rem;

  margin: 0 2rem;
  padding: 0 1.8rem;
  text-align: center;
}

.sale {
  font-weight: lighter;
  font-size: 1.4rem;
}

.sale-price {
  font-weight: bold;
  font-size: 1.4rem;
}

.div-circle {
  width: 55%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #8080809e;
  clip-path: polygon(
    50% 0%,
    64% 30%,
    98% 35%,
    75% 61%,
    79% 91%,
    50% 75%,
    21% 91%,
    25% 59%,
    2% 35%,
    34% 30%
  );
}

.circle.active-circle {
  background-color: #ffcc48;
}

.sale-btn {
  background-color: #a04955;
  color: white;
  width: 12rem;
  height: 3rem;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: right;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #a04955;
  box-sizing: border-box;
}

.sale-input {
  position: relative;
}

.bags {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
}

.section-two > div {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.about-shop {
  background: url(../Img/main/Man\ one.png) no-repeat center top;
}

.about-shop-two {
  background: url(../Img/main/Man\ two.png) no-repeat center top;
}

.about-shop,
.about-shop-two {
  position: relative;
  width: 70%;
  height: 60%;
  background-size: cover;
  margin-top: 3%;
  box-sizing: border-box;
}

.bordo {
  position: absolute;
  bottom: 0;
  height: 18%;
  width: 100%;
  background-color: #a04955;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  padding-top: 5%;
  opacity: 0.8;
  box-sizing: border-box;
}

.shop-btn {
  width: 20rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(119, 116, 116);
}

.shop-btn:hover {
  transform: scale(1.1);
}

.shop-content {
  width: 60%;
  height: 20%;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  box-sizing: border-box;
}

.pano {
  width: 100%;
  height: 80%;
  background: url(../Img/main/Rectangle\ 15.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.pano > div {
  width: 50%;
  height: 80%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  box-sizing: border-box;
}

.title-pano {
  font-weight: bold;
  font-size: 4rem;
  color: white;
  width: 70%;
  text-align: left;
  box-sizing: border-box;
  margin-top: 6%;
}

.pano-content {
  font-size: 1.4rem;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  padding-top: 1%;
}

.pano-input {
  width: 55%;
  height: 4rem;
  background-color: #a04955;
  border: 1px solid #a04955;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 2%;
}

.pano-input:hover {
  transform: scale(1.1);
}

.base-sportif {
  width: 100%;
  height: 40%;
  position: relative;
}

.section-three-bordo {
  width: 90%;
  height: 120%;
  background-color: #a04955;
  position: absolute;
  top: 3rem;
  left: 5rem;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.section-four,
.section-five {
  text-align: start;
  height: 70vh;
}

.card-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-three {
  width: 25%;
  height: 25rem;
  border: 1px solid #a04955;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  box-shadow: 1px 4px 20px 1px #a04955;
}

.card-three:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card-three > img {
  width: 55%;
}

.card-three > div {
  color: black;
  font-size: 30%;
  margin: 10px auto;
}

.card-three > input {
  width: 80%;
  height: 3rem;
  color: white;
  font-size: 25%;
  margin: 10px auto;
  background-color: #a04955;
  border: 1px solid #a04955;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.about-family {
  position: relative;
  width: 85%;
  height: 80%;
  margin: 4% auto;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 2rem 0 2rem;
  box-sizing: border-box;
}

.circle-years {
  position: absolute;
  top: -40%;
}

.title-family {
  font-weight: bold;
  font-size: 3rem;
  font-style: normal;
  color: #001f3d;
  box-sizing: border-box;
}

.about-family > button {
  width: 18%;
  height: 12%;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgb(119, 116, 116);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.about-family > button:hover {
  transform: scale(1.1);
}

.family-content {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 120vh;
  }

  .container div {
    width: 80%;
    height: 20rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .title-page-one {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .title-input {
    width: 28%;
    height: 10%;
  }

  .title-two {
    height: 30vh;
    width: 90%;
  }

  .section-three-bordo {
    left: 3rem;
  }

  .pano div {
    width: 70%;
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .container,
  .section-two {
    flex-direction: column;
    width: 100%;
    height: 120vh;
  }

  .container div {
    width: 80%;
    height: 20rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .title-page-one {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .title-input {
    width: 60%;
    height: 10%;
  }

  .title-two {
    height: 30vh;
    width: 90%;
    font-size: 1rem;
  }

  .section-three-bordo {
    left: 3rem;
  }

  .product-card-img > img {
    width: 80%;
  }

  .card-total {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80%;
    margin: 0.3rem auto;
  }

  .section-one {
    height: 235vh;
  }

  .section-two > div {
    width: 100%;
    margin: 0 auto;
  }

  .about-shop,
  .about-shop-two {
    position: relative;
    width: 90%;
    height: 60%;
    background-size: cover;
    margin-top: 3%;
    box-sizing: border-box;
  }

  .shop-content {
    width: 60%;
    height: 20%;
    text-align: center;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    margin-top: 5%;
    box-sizing: border-box;
  }

  .pano > div {
    width: 100%;
  }

  .title-pano {
    margin-top: 14%;
  }

  .pano-content,
  .pano-input {
    width: 90%;
  }

  .card-base {
    flex-direction: column;
  }

  .card-three {
    width: 90%;
    margin: 0.3rem;
  }

  .section-four {
    height: 170vh;
  }

  .title-family {
    font-size: 2rem;
  }

  .about-family {
    padding: 5%;
  }

  .about-family > button {
    width: 50%;
  }
}
