body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#root {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
}

.container {
  width: 60%;
  height: 90%;
  box-sizing: border-box;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.animate {
  animation-name: animopac;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@keyframes animopac {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} ;
