#btn,
.input-btn,
.btn {
  border-radius: 20px;
  width: 150px;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 60%;
  height: 60%;
  border-color: 3px solid black;
  margin: 30px;
}

.circle {
  border-radius: 50%;
  margin: 4px;
  box-shadow: 8px 5px 5px #684848;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
